<%- include layouts/header.ejs %>
<div class="search">
    <h1>Search</h1>
    <input>
    <button>Search</button>
</div>
<div class="browser">
    <h1>Browser</h1>
    <ul>
        <% for (i=0; i< categoria.length; i++){%>
        <li>
            <a href="/SearchBrowser/categoria/:<%=categoria[i].CategoryID%>">
                <%=categoria[i].CategoryName%>
            </a>
        </li>
        <%}%>
    </ul>
</div>
Order Confirmation

<table>
    <tr>
        <td>Order Number:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Shipping Address:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Books Shipped:</td>
        <th>Title</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <%for(i=0;i<data.length;i++){%>
    <tr id="<%=data[i].ISBN%>" style="display:none;">
        <td></td>
        <td><a href="/book/:<%=data[i].ISBN%>"><%=data[i].title%></a></td>
        <td id="<%=data[i].ISBN%>-qtd"></td>
        <td id="<%=data[i].ISBN%>-price"><%=data[i].price%></td>
        <td id="<%=data[i].ISBN%>-total"></td>
    </tr>
    <%}%>
    <tr>
        <td>Sub-total</td>
        <td></td>
        <td></td>
        <td></td>
        <td id="sub-total-value"></td>
    </tr>
    <tr>
        <td>Shipping value</td>
        <td></td>
        <td></td>
        <td></td>
        <td id="shipping-value"></td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td id="total-value"></td>
    </tr>
</table>


A confirmation has been sent to your email address.
Thank you for shopping with GeekBooks.com.
<button onclick="window.location.href='/'">Continue shopping</button>


<button onclick="window.location.href='/order_history'">View your order history</button>


<script>
$(document).ready(function() { loadTable();
});</script>

<%- include layouts/footer.ejs %>


