<%- include layouts/header.ejs %>


<div class="row"></div>
<% for (i=0;i< data.length;i++) { %>
<div class="row center livro">
    <div class="col s10 m10 l10 valign-center yellow">
        <h5><a href="/book/:<%=data[i].ISBN%>" class="black-text"><%=data[i].title%></a></h5>
    </div>
</div>
<div class="row valign-center">
    <div class="col s4 m4 l4 center">
        <a href="/book/:<%=data[i].ISBN%>">
            <img class="responsive-img"src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/<%=data[i].ISBN%>.01.MZZZZZZZ.jpg">
        </a>
    </div>
    <div class="col s6 m6 l6 valign-wrapper" style="height: 150px">
        <span class="truncate" style="word-wrap: break-word; overflow-wrap: normal;"><%-data[i].description%></span>
	    	<a href="/book/:<%=data[i].ISBN%>">LEIA MAIS</a>
    </div>
</div>
<div class="row"></div>
<%}%>



<%- include layouts/footer.ejs %>
