<%- include layouts/header.ejs %>



<div class="search">
    <h1>Search</h1>
    <input>
    <button>Search</button>
</div>
<div class="browser">
    <h1>Browser</h1>
    <ul>
        <% for (i=0; i< categoria.length; i++){%>
        <li>
            <a href="/categoria/:<%=categoria[i].CategoryID%>">
                <%=categoria[i].CategoryName%>
            </a>
        </li>
        <%}%>
    </ul>
</div>

<% for (i=0;i< data.length;i++) { %>
<div class="livro">

    <a href="/livro/:<%=data[i].ISBN%>"><%=data[i].title%></a>
    by  <a href="/author/:<%=data[i].AuthorID%>"><%=data[i].nameF%> <%=data[i].nameL%></a>


    <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/<%=data[i].ISBN%>.01.THUMBZZZ.jpg">
    <%=data[i].description%>
    <a href="/livro/:<%=data[i].ISBN%>">more...</a>
</div>
<%}%>



<%- include layouts/footer.ejs %>
