<%- include layouts/header.ejs %>


                 <%=data[0].title%>


                 <br>
                 <br>

                 by <%=data[0].nameF%> <%=data[0].nameL%>

                 <br>
                 <br>

                <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/<%=data[0].ISBN%>.01.MZZZZZZZ.jpg">

                 <button>Add Cart</button>
                 <br>
                 <br>

                Price: <%=data[0].price%>
                 <br>
                 <br>
                Publisher: <%=data[0].publisher%>
                 <br>
                 <br>
                Pages: <%=data[0].pages%>
                 <br>
                 <br>
                Edition: <%=data[0].edition%>
                 <br>
                 <br>

                 ISBN: <%=data[0].ISBN%>
                 <br>
                 <br>


                 <%=data[0].description%>
                 <br>
                 <br>
                 <button>Add Cart</button>

<%- include layouts/footer.ejs %>
