<%- include layouts/header.ejs %>


<div class="search">
    <h1>Search</h1>
    <input>
    <button>Search</button>
</div>
<div class="browser">
    <h1>Browser</h1>
    <ul>
        <% for (i=0; i< categoria.length; i++){%>
        <li>
            <a href="/categoria/:<%=categoria[i].CategoryID%>">
                <%=categoria[i].CategoryName%>
            </a>
        </li>
        <%}%>
    </ul>
</div>

                 <%=data[0].title%>


                 <br>
                 <br>
by  <a href="/author/:<%=data[0].AuthorID%>"><%=data[0].nameF%> <%=data[0].nameL%></a>

                 <br>
                 <br>
                <a href="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/<%=data[0].ISBN%>.01.LZZZZZZZ.jpg">
                <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/<%=data[0].ISBN%>.01.MZZZZZZZ.jpg">
                </a>
                 <button>Add Cart</button>
                 <br>
                 <br>

                Price: <%=data[0].price%>
                 <br>
                 <br>
                Publisher: <%=data[0].publisher%>
                 <br>
                 <br>
                Pages: <%=data[0].pages%>
                 <br>
                 <br>
                Edition: <%=data[0].edition%>
                 <br>
                 <br>

                 ISBN: <%=data[0].ISBN%>
                 <br>
                 <br>


                 <%=data[0].description%>
                 <br>
                 <br>
                 <button>Add Cart</button>

<%- include layouts/footer.ejs %>
