<%- include layouts/header.ejs %>


<div class="livro-row z-index-2" style="background-color: rgb(203,195,156); border-radius: 10px"
     xmlns:br="http://www.w3.org/1999/html">
    <div class="row"></div>
    <div class="row center">
        Your Order History<br>

        You have ordered <span id="quantidade">X</span> books
    </div>

<%for(i=0;i<data.length;i++){%>
    <div id="<%=data[i].ISBN%>" class="row div-book div-book-<%=data[i].ISBN%>" style="display:none;">
        <div class=" col10 offset-s1 ">
            <div class="col s2 offset-s1">
                <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/<%=data[i].ISBN%>.01.THUMBZZZ.jpg">
            </div>
            <div class="col s8">
                <div class="col s6">
                    Order ID:
                </div>
                <div class="col s6">
                    Data:
                </div>
                <a href="/book/:<%=data[i].ISBN%>"><%=data[i].title%></a>
                by <%=data[i].nameF%> <%=data[i].nameL%><br>
                Quantidade: <span id="<%=data[i].ISBN%>-qtd"></span>
            </div>
        </div>
    </div>
<%}%>
    <div class="row"></div>
</div>

<script>
    $(document).ready(function() {
        loadItens();
        loadOrder();
    });</script>

<%- include layouts/footer.ejs %>


