<%- include layouts/header.ejs %>
<div class="card z-index-2" style="background-color: rgb(203,195,156); border-radius: 10px">
    <div class="row"></div>
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="center">
                <span class="brown-text" id="quantidade">X</span> items in your cart
            </div>
            <table class="highlight table-dnone">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <%for(i=0;i<data.length;i++){%>
                <tr id="<%=data[i].ISBN%>" style="display:none;">
                    <td><a class="brown-text" href="/book/:<%=data[i].ISBN%>"><%=data[i].title%></a></td>
                    <td id="<%=data[i].ISBN%>-qtd"></td>
                    <td id="<%=data[i].ISBN%>-price">$<%=data[i].price%></td>
                    <td id="<%=data[i].ISBN%>-total">$</td>
                    <td class="center">
                        <button style="width:92px" class="waves-effect waves-light btn brown" onclick="add_cart('<%=data[i].ISBN%>')">Add</button>
                        <button style="width:92px" class="waves-effect waves-light btn brown" onclick="rm_cart('<%=data[i].ISBN%>')">Remove</button>
                    </td>
                </tr>
                <%}%>
                <tr>
                    <th>Sub-total</th>
                    <td></td>
                    <td></td>
                    <th id="sub-total-value"></th>
                    <td></td>
                </tr>
                <tr>
                    <th>Shipping value</th>
                    <td></td>
                    <td></td>
                    <th id="shipping-value"></th>
                    <td></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td></td>
                    <td></td>
                    <th id="total-value"></th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row center">
        <button class="waves-effect waves-light btn brown" onclick="window.location.href='/'">Continue shopping</button>
        <button class="waves-effect waves-light btn brown" onclick="window.location.href='/checkout1'">Proceed to Checkout</button>
    </div>
    <div class="row center">
        <div class="col s10 offset-s1">
            * Shipping is $10 for the first book and $5 for each additional book. To assure reliable delivery and to keep your costs low we send all books via UPS ground.
        </div>
    </div>
    <div class="row"></div>
</div>
<script>
$(document).ready(function() {
    loadTable();
    loadItens();
});</script>




<%- include layouts/footer.ejs %>


