<%- include layouts/header.ejs %>
<table>
    <tr>
        <th>Title</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    <%for(i=0;i<data.length;i++){%>
    <tr id="<%=data[i].ISBN%>" style="display:none;">
        <td><a href="/book/:<%=data[i].ISBN%>"><%=data[i].title%></a></td>
        <td id="<%=data[i].ISBN%>-qtd"></td>
        <td id="<%=data[i].ISBN%>-price"><%=data[i].price%></td>
        <td id="<%=data[i].ISBN%>-total"></td>
        <td>
            <button class="waves-effect waves-light btn" onclick="add_cart('<%=data[i].ISBN%>')">Add</button>
            <button class="waves-effect waves-light btn" onclick="rm_cart('<%=data[i].ISBN%>')">Remove</button>
        </td>
    </tr>
    <%}%>
    <tr>
        <td>Sub-total</td>
        <td></td>
        <td></td>
        <td id="sub-total-value"></td>
        <td></td>
    </tr>
    <tr>
        <td>Shipping value</td>
        <td></td>
        <td></td>
        <td id="shipping-value"></td>
        <td></td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td id="total-value"></td>
        <td></td>
    </tr>
</table>
<script>
$(document).ready(function() { loadTable();
});</script>
<button class="waves-effect waves-light btn" onclick="window.location.href='/'">Continue shopping</button>
<button class="waves-effect waves-light btn" onclick="window.location.href='/checkout1'">Proceed to Checkout</button>




<%- include layouts/footer.ejs %>


